*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
    background-color: #B56B45;
    margin-bottom: 40px;
    cursor: default;
    font-family: fantasy;
}

.header {
    padding: 1% 0 0.5%;
    background-color: #FF9B71;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    width: 100%;
    font-size: 3.5vw;
}

.cabins-left {
    display: flex;
    justify-content: flex-end;
    gap: 5%;
}

.cabins-right {
    display: flex;
    gap: 5%;
}

.cabins-left > img,
.cabins-right > img {
    width: 15%;
}

.footer {
    background-color: #FF9B71;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: fixed;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.fa-brands:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* CHOOSE DATE */

.overlay-choose-date {
    /*z-index: 2;*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}

.overlay-date-invisible {
    visibility: hidden;
    opacity: 0;
}

.choose-date {
    position: relative;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #E84855;
    height: 60vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all .3s;
    display: grid;
    grid-template-rows: 30% 60%;
    row-gap: 10%;
    visibility: visible;
    /*visibility: hidden;*/
    /*transform: scale(0.05);*/
    display: none;
}

.choose-date-open {
    transform: scale(1);
    visibility: visible;
}

.welcome {
    text-align: center;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'American Typewriter', serif;
}

h2 {
    font-size: 2.25vw;
}

h3 {
    font-size: 1.75vw;
}

.date-choices {
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 10%;
    padding-bottom: 2%;
}

.date-radios {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 90%;
    font-size: 1.5vw;
    font-family: 'American Typewriter', serif;
    align-items: center;
    justify-items: center;
}

input[type=radio] {
    cursor: pointer;
}

span {
    color: #E84855;
}

.date-submit {
    text-align: center;
}

input[type=submit] {
    background-color: #2B3A67;
    color: white;
    font-size: 1.75vw;
    padding: 6px 20px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

input[type=submit]:active {
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.3);
}


/* CHOOSE REGION */

.overlay-choose-region {
    /*z-index: 2;*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    visibility: visible;
    opacity: 1;
    transition: all .3s;
    display: none;
}

.overlay-region-invisible {
    visibility: hidden;
    opacity: 0;
}

.choose-region {
    position: relative;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #E84855;
    height: 60vh;
    width: 50vw;
    border-radius: 10px;
    box-shadow: -2px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all .3s;
    display: grid;
    grid-template-rows: 20% 75%;
    row-gap: 5%;
    /*visibility: visible;*/
    visibility: hidden;
    transform: scale(0.05);
}

.choose-region-open {
    transform: scale(1);
    visibility: visible;
}

.region-choices {
    display: grid;
    grid-template-rows: 70% 20%;
    row-gap: 10%;
}

.region-radios {
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 5%;
}

.region-radios > img {
    width: 90%;
    justify-self: end;
}

.radios {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 90%;
    font-size: 1.5vw;
    font-family: 'American Typewriter', serif;
    align-items: center;
    justify-items: flex-start;
}

.region-submit {
    text-align: center;
}


/* RESULTS */

.results {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 5vh;
}

.embeds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.reset-button {
    text-align: center;
}

.reset {
    background-color: #2B3A67;
    color: white;
    font-size: 1.75vw;
    padding: 6px 20px 8px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.reset:active {
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.3);
}